[Unit]
Description=AtriStation LED Boot Animation
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/bin/atrledctl play boot-happy
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target